body{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    background:   #dadada;
}

.cf:before, .cf:after{
    content:" ";
    display:table;
    }

.cf:after{
    clear: both;
    }
    
.cf{
    *zoom:1;
}

nav{
        background: #32325d;
        height: 6em;
}

 ul, li{
    margin: 0;
    padding: 0;   
    float: left;
    list-style: none;
}

 ul{

    width: 100%;
    height: auto;
    }

 li{
    position: relative;
    }

 li a{

    display: block;
    font-size: 1em;
    line-height: 3em;
    text-decoration: none;
    color: #dadada;
    width: 130px;
    padding: 1.5em;
    height: auto;
    text-align: center;
}

.menu li a:hover{
    background: #7179b3;
    }
    
ul.submenu {
    float: none;
    position: absolute;
    left:-9000em;
         width: auto;
         height: auto;
    }

ul.submenu li{
    float: none;
    background: #32325d;

    }

ul.submenu li a{
    white-space: nowrap;
   }  
   
 
#logo{
    font-size: 2em;
    height: 3em;
    padding:0 1em;
    width:250px;}

#logo img{
    width:2em;
    height:1.5em;
    color: white;
}

footer{
    height: 11em;
    width: auto;
    background:#141435;
}
h1{
    position: relative;
    font-size: 50px;
    top:20px;
}

h2{
    color:#dadada;
    width:100%;
    text-align: center;
}

ul.foot{
    float:left;
    width: auto;
    position: relative;
    left:40%;
    margin: 0;
        
}

ul.foot li a{
    color: white;
    padding:0;
    display:inline;
    padding:0 5px;   
    
}

footer p{
    color:#dadada;
    float:left;
    clear:left;
    text-align: center;
    width: 100%;
    padding:0;
    }
    
    
.menu li:hover ul{
    left: 0;
}   
